<div class = "hero-unit">
  <h2> Hello <%= session[:username] %> </h2>  
    <p>You have $<%= session[:wallet] %> worth of chips.</p>
    <p>How much do you want to bet?</p>
      <form action = '/bet' method ="post">
        <input type = 'text' name = 'bet'/>
        <br>
        <input type = 'submit' value='Bet' class='btn btn-primary btn-medium'/>
      </form>
</div>