<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">
    <a href='/'><img src ='/images/logo1.jpg' class= "navbar-logo"/></a>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%= @error %></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%= @success %></div>
    <% end %>    
      <%= yield %>
  </div>
  </body>
</html>
