<div class = "hero-unit">
<h2>Welcome to Blackjack</h2>
  <p>How should I address you?</p>
    <form action = '/new_player' method ="post">
      <input type = 'text' name = 'username'/>
      <br>
      <input type = 'submit' class = 'btn btn-primary btn-medium'/>
    </form>
</div>