<div class='alert alert-error'>
  You bust! Dealer wins!
</div>
<div class = "hero-unit">
  <h2>You lost $<%= session[:bet] %>.</h2>  
    <h3>Dealer's hand</h3>
      <div class='row-fluid'>
        <ul class='thumbnails'>
          <li class='span3'>
            <img src='/images/cards/cover.jpg' class='thumbnail' style='width: 160px; height 234px'/>
          </li>
          <li class='span3'>
            <%= conv_to_img(session[:dealer_hand][1]) %>
          </li>
        </ul>
      </div>

    <h3>Your hand (Total: <%= session[:player_total] %>)</h3>

      <div class='row-fluid'>
        <ul class='thumbnails'>
          <% session[:player_hand].each do |card|%>
          <li class='span3'>
            <%= conv_to_img(card) %>
          </li>
          <% end %>
        </ul>
      </div>  

    <p>Would you like to play again?</p>
    <form action='/game/player/bust' method='post'>
      <input type='submit' value='Yes' class='btn btn-success'/>
    </form>
    <form action='/end' method='post'>
      <input type='submit' value='No' class='btn btn-danger'/>
    </form>
</div>