<div class = "hero-unit">
<h2>You have no chips left</h2>
<p>Would you like to buy more chips?</p>
  <form action='/'  method='post'>
    <input type='submit' value='Yes' class='btn btn-success'/>
  </form>
  <form action='/end'  method='post'>
    <input type='submit' value='Yes' class='btn btn-success'/>
  </form>
</div>