<div class = "hero-unit">
<h2>You have no chips left</h2>
<p>Would you like to buy more chips?</p>
  <form id='play_form' action='/replay'  method='post'>
    <input type='submit' value='Yes' class='btn btn-success'/>
  </form>
  <form id='end_form' action='/end'  method='post'>
    <input type='submit' value='No' class='btn btn-danger'/>
  </form>
</div>